.keyword {
    -fx-fill: #11a;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: darkviolet;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkviolet;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: darkviolet;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: #1a1;
    -fx-font-weight: bold;
}
.single-quoted-string {
    -fx-fill: darkgreen;
}
.schema-obj {
    -fx-fill: #1a1;
    -fx-font-weight: bold;
}

.lineno {
    -fx-font-family: monospace;
    -fx-background-color: #eee;
    -fx-text-fill: #666;
    -fx-padding: 0 5px;
}
.code-area {
    -fx-background-color: #fff;
}